version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1

jobs:
  security-scans:
    resource_class: medium
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:8.0
    steps:
      - checkout
      - run:
          name: Restore dependencies
          command: dotnet restore
      - prodsec/security_scans:
          mode: auto
          sudo-install: false
          open-source-additional-arguments: --exclude=Snyk.VisualStudio.Extension.Tests,Snyk.Common.Tests,Snyk.Code.Library.Tests,Tests
          iac-scan: disabled

workflows:
  version: 2
  CICD:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: team-ide-vuln-alerts
          filters:
            branches:
              ignore: main

      - security-scans:
          context: devex_ide

