name: Pull Request Workflow

on:
  pull_request:

concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true

env:
  SOLUTION_FILE_PATH: .
  DEFAULT_BRANCH: main

jobs:
  build-project:
    uses: snyk/snyk-visual-studio-plugin/.github/workflows/build-project.yml@main
    with:
      solution-file-path: .
    secrets: inherit
  test:
    needs: build-project
    name: Run Unit-Tests
    runs-on: windows-2022
    defaults:
      run:
        working-directory: ${{ github.workspace }} 
    env:
      TEST_API_TOKEN: ${{ secrets.TEST_API_TOKEN }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Download build artifacts
      uses: actions/download-artifact@v3
      with:
        name: build-artifacts

    - name: Setup VSTest
      uses: darenm/Setup-VSTest@v1
    - name: Tests
      run: vstest.console.exe **\*.Tests.dll /TestCaseFilter:"FullyQualifiedName!=Xunit.Instances.VisualStudio&integration!=true" #exclude integration tests and the psuedo-tests that launch a VS instance
  run-integration-tests:
    needs: build-project
    uses: snyk/snyk-visual-studio-plugin/.github/workflows/integration-tests.yml@feat/integration-tests-pr
    secrets: inherit      